/* Global */
body {
  background-color: #bbcde0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar */
.navbar {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  background-color:#8ab4df;
}

/* Textform Container */
.textform-container {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Textarea */
.text-area {
  resize: none;
  border-radius: 6px;
  border: 1px solid #ced4da;
}

.text-area:focus {
  border-color: #c1f3ef;
  box-shadow: 0 0 0 0.2rem rgba(2, 37, 91, 0.25);
}

/* Button */
.btn-primary {
  padding: 10px 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
